

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'Inter', system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
}
.login-wrapper {
  display: flex;
  height: 100vh;
}

/* Left Form */
.login-form {
  flex: 0.75;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  width: 100%;
  max-width: 380px;
}

.title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 30px;
    text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
  font-weight: 500;
}

input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
}

input:focus {
  border-color: #0050FF;
  outline: none;
}

.forgot {
  display: inline-block;
  margin-top: -5px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #0050FF;
  text-decoration: none;
}

.btn {
  width: 100%;
  padding: 12px;
  background-color: #0050FF;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  margin-bottom: 15px;
  transition: 0.2s;
}

.btn:hover {
  background-color: #003CCC;
}

.divider {
  text-align: center;
  margin: 10px 0;
  font-size: 14px;
  color: #888;
}

.btn.google {
  background-color: #fff;
  color: #444;
  border: 1px solid #ddd;
}

.btn.google:hover {
  background-color: #F5F5F5;
}

.signup-text {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.signup-text a {
  color: #0050FF;
  text-decoration: none;
}

/* Right Brand */
.login-brand {
  flex: 1.5;
  background-color: #0D1831;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
}

.brand-content {
  text-align: center;
}

.logo {
  width: 100px;
  margin-bottom: 10px;
}

.brand-content h1 {
   font-size: 32px;
    font-weight: 600;
    margin-left: 16px;
}


