body{
	background: linear-gradient(135deg, #0F172A, #1E293B);
	background-size:cover;
	background-position: center;
	background-repeat:  repeat;
	min-height: 100vh;

}
.auth-container {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}
.col-md-6 {
	background: #F5F5F5 ;
	border-radius: 10px;
	padding: 40px;
	max-width: 450px;
	width: 100%;
}
.logo-container {
	background: #878787;
	text-align: center;
	color: var(--color-white);
	text-decoration: none;
	font-size: 20px;
	position: absolute;
	top:10px;
	left: 10px;
	padding: 10px 20px;
	border-radius: 10px; 
	opacity: 0.5;
	transition: ease 0.3s;
}
.logo-container:hover{
  opacity: 1;
}
.section__heading{
	text-align: center;
	font-size: 40px;
	color: var(--color-black);
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.form-group {
	position: relative;
}
.input-wrapper{
	display: flex;
	align-items: center;
	position: relative;
}
.input-wrapper .icon {
	position:absolute ;
	left: 10px;
	font-size: 16px;
}
.form-control {
	padding: 12px 40px;
	border: none;
	border-radius: 10px;
	transition: ease 0.3s;
}
.btn-auth {
	width: 100%;
	padding: 12px;
	border-radius: 5px;
	border: none;
	font-weight: 500;
	margin-top: 10px;
	text-transform: uppercase;
	transition: ease 0.3s;
}
.login-link {
	font-size: 20px;
}
.login-link a{
	color:var(--color-price);
	font-weight: 500;
}
.login-link a:hover{
	text-decoration: underline;
	color: var(--color-btn);
}
.eye {
	position: absolute;
	top:50%;
	right: 10px;
	transform: translateY(-50%);
	cursor: pointer;
	padding-left: 5px;
}

/* responsive */ 
@media screen and (max-width:576px) {
	.col-md-6{
		padding: 25px;
		margin: 0 15px;
	}
	.section__heading {
		font-size: 20px;
	}
}
