/* @media (max-width: 768px) {
  .map-grid { grid-template-columns: 1fr; }
  .map { height: 400px; }
  .filters { flex-direction: column; }
  .filter-group { justify-content: center; width: 100%; }
  .search-wrapper { width: 100%; }
  .select-menu { width: 140px; }
  .btn-location { width: 100%; }
} */

/* Table: <= 1024px */
@media (max-width: 1024px) {
   .container {
        width: 100%;
        max-width: 100%;
        padding: 0 20px;
    }
    .logo-container h1 {
        display: none;
    }

  .map-grid { grid-template-columns: 1fr; }
  .map { height: 400px; }
  .filter-group { justify-content: center; width: 100%; }
  .search-wrapper { width: 100%; }
  .select-menu { width: 140px; }
}
/* Mobile : <= 768px */
@media (max-width: 768px) {
      .container {
      width: 100%;
      padding: 0 8px;
    }
    .header__nav {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: pink;
        box-shadow: 0 2px 8px #0002;
        z-index: 10001;
        text-align: center;
        display: none;
    }
    .logo-container img {
        width: 80px;
    }
   .menu_icon {
        display: block;
        cursor: pointer;
        margin-right: 20px;
   }
     .navbar__link {
        display: block;
        padding: 10px 0;
    }
  .header__nav.active {
        display: block;
    }
    .nav__list {
        flex-direction: column;
        gap: 10px;
    }
  .map-grid { grid-template-columns: 1fr; }
  .map { height: 400px; }
  .filters { flex-direction: column; }
  .filter-group { justify-content: center; width: 100%; }
  .search-wrapper { width: 100%; }
  .select-menu { width: 140px; }
}
/* Small Mobile : <= 480px */
@media (max-width: 480px) {
  .container {
      padding: 0 4px;
    }
    .section__title {
        font-size: 2.4rem;
    }

  .map-grid { grid-template-columns: 1fr; }
  .map { height: 300px; }
  .filters { flex-direction: column; }
  .filter-group { justify-content: center; width: 100%; }
  .search-wrapper { width: 100%; }
  .select-menu { width: 140px; }
}